# Бинарники
a.exe
simplevde
simplevde.exe

# Объектные файлы
obj/
*.o

# Тестовые образы
*.img
*.raw
*.iso
*.vhd

# Твои заметки
docs/

# Временные файлы
*~
*.tmp
*.bak

# Настройки редактора
.vscode/
.idea/
.DS_Store