# Объектные файлы
*.o
*.obj
*.img

# Исполняемые файлы
simplevde
simplevde.exe
simplevde.a

# Директория с объектными файлами
obj/
build/

# Библиотеки и временные файлы компилятора
*.lib
*.dll
*.so
*.dylib
*.exp
*.pdb

# Отладочные символы и логи
*.dSYM/
*.log
core

# Редакторские временные файлы
*~
*.swp
*.swo
.DS_Store
*.bak
*.tmp

# Персональные настройки среды (если не хотите хранить их в репозитории)
.vscode/
.idea/
*.code-workspace

# Прочие артефакты
*.out
*.app